@charset "utf-8";
/* CSS Document */

body {background-color:bisque;}

#Logo {
	float:left;
	padding-left:10px;
}

#Icon {float:right;
padding-right:10px}

#Navigation {clear:both; font-family:"Trebuchet MS",Verdana,Arial,sans-serif;word-spacing:35px;
	border-top:solid black 1px;
	border-bottom: solid black 1px;
	padding:5px 0px 5px 0px; 
	margin:5px 0px 5px 0px;
	padding-left:20px
}

#Navigation a {	
	color:black;
	padding-left:10px;
	text-decoration:none;
}

#HeaderIMG {
    text-align: center;
}


#LeftContent h1 {color:#ff8800;font-family:"Arial",Verdana,Arial,sans-serif; font-size:25px;}
#LeftContent h1 {border-bottom:solid black 1px;
    padding-bottom:5px;
    margin-bottom:10px;
    margin-top:20px;
}

#LeftContent {
   width:880px;
   padding-left:20px;
}

#RightText {
     width:250px;
    float:right;
    margin-bottom:50px;
	
}

#LeftContent p {
    font-family:"Trebuchet MS", Verdana, Arial, sans-serif;
    font-size:12px;
    line-height:1.4;
	padding-right:315px;
}

#RightText h1 {color:black;font-family:"Trebuchet MS",Verdana,Arial,sans-serif;font-size:12px;
    line-height:1.4;}
#RightText h3 {color:#ff8800;font-family:"Trebuchet MS",Verdana,Arial,sans-serif;font-size:12px;
    line-height:1.4;}
#RightText h2 {color:black;font-family:"Trebuchet MS",Verdana,Arial,sans-serif;font-size:12px;
    line-height:1.4;}
#RightText p {color:black;font-family:"Trebuchet MS",Verdana,Arial,sans-serif;font-size:12px;
    line-height:1.4;}

#LeftContent h3 {color:brown;border-bottom:solid black 1px;}

#LeftContent img {border:solid black 1px;
    padding:5px;
    margin:10px;
    width:210px;
}

#Copyright {clear:both; border-top:solid black 1px; padding: 10px; text-align: center;}

#Box {width:900px;
    background-color:white;
    margin:0 auto;
    padding:10px;}
#Box1 {width:950px;background-color:white; margin:0px auto 0px auto;}

#Option1box 
{float:left ;width: 250px;border-top:solid #6B6B6B 25px;background-color: #EDE5B8;margin:5px 5px 5px 5px;padding:10px}

#Option2box 
{float:left ;width: 250px;border-top:solid #6B6B6B 25px;background-color: #EDE5B8;margin:5px 5px 5px 5px;padding:10px}

#Option3box 
{float:left ;width: 250px;border-top:solid #6B6B6B 25px;background-color: #EDE5B8;margin:5px 5px 5px 5px;padding:10px}

#Header{border-bottom:solid #000000 1px;padding: 5px}

#belowtext {
	margin-top:15px;
	padding-left:20px;
	padding-right:200px;
	font-family:"Trebuchet MS", Verdana, Arial, sans-serif;
    font-size:12px;
    line-height:1.4;
}

#BoxA {border:solid black 1px;
    padding:5px;
    margin:10px;
    width:200px;
}

#BoxB {border:solid black 1px;
    padding:5px;
    margin:10px;
    width:200px;
}



